@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color-scheme: light dark;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(
    circle at center,
    black 0.06rem,
    transparent 0
  );
  background-size: 1rem 1rem;
  background-repeat: round;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: pretty;
}

p {
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 3rem;
}

#hero {
  max-width: 780px;
  margin-inline: auto;

  .wrapper {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    padding: 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: calc(0% - 20px);
      width: calc(100% + 40px);
      height: 1px;
      background-color: #888;
    }

    &::after {
      content: "";
      position: absolute;
      left: calc(0% - 20px);
      width: calc(100% + 40px);
      height: 1px;
      background-color: #888;
    }
  }

  h1 {
    font-size: 3rem;
    background: linear-gradient(to right, #ff0ccc, #00bbff);
    background-clip: text;
    color: transparent;
    font-weight: 600;
  }

  h2 {
    font-size: 2.2rem;
    font-weight: 500;
  }

  p {
    max-width: 70ch;
    margin-top: 20px;
    color: rgb(255 255 255 / 70%);
    line-height: 1.5;
  }
}

#social {
  margin-top: 20px;
  padding-bottom: 20px;

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;

    a {
      display: flex;
      align-items: center;
      padding: 4px 9px;
      border: 1px solid rgb(255 255 255 / 30%);
      gap: 4px;
      border-radius: 3px;
    }
  }
}

#techs {
  margin: 0 auto;
  max-width: 780px;

  h2 {
    font-weight: 500;
    letter-spacing: 1.3px;
    text-transform: uppercase;
  }

  .tech-stack {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .tech-badge {
    border: 3px solid var(--tech-color);
    /* box-shadow: 3px 0 3px var(--tech-color); */
    background-color: var(--tech-color);
    font-weight: 500;
    font-size: 0.9rem;
    padding: 5px;

    svg {
      width: 50px;
    }

    &:nth-of-type(3) {
      translate: 0 30px;
    }

    &:nth-of-type(5) {
      translate: 0 80px;
    }
    &:nth-of-type(7) {
      translate: 0 30px;
    }
    &:nth-of-type(9) {
      translate: 3px 0;
    }
  }
}

.directional-arrow {
  color: rgb(255 255 255 / 30%);

  &:nth-child(4) {
    translate: 0 70px;
  }
  &:nth-child(6) {
    translate: 0 70px;
    rotate: 90deg;
  }
  &:nth-child(8) {
    translate: 0 00px;
    rotate: 90deg;
  }
}
