@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color-scheme: light dark;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-image: radial-gradient(
    circle at center,
    #222 0.06rem,
    transparent 0
  );
  background-size: 1rem 1rem;
  background-repeat: round;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: pretty;
}

p {
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 3rem;
}

#hero {
  max-width: 780px;
  margin-inline: auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -9999;
    inset: 0;
    filter: blur(200px);
    background: linear-gradient(
      130deg,
      #ff00ff,
      rgb(0, 13, 255),
      transparent 50%
    );
  }

  .wrapper {
    padding: 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: calc(0% - 20px);
      top: 0;
      width: 10px;
      height: 3px;
      background-color: #ff0ccc;
      border-radius: 0 20px 20px 0;
    }

    &::after {
      content: "";
      position: absolute;
      height: 10px;
      width: 3px;
      top: 0;
      left: calc(0% - 20px);
      background-color: #ff0ccc;
      border-radius: 0 0 20px 20px;
    }
  }

  h1 {
    padding-top: 15px;
    font-size: 3rem;
    background: linear-gradient(to right, #ff0ccc, #00bbff);
    background-clip: text;
    color: transparent;
    font-weight: 600;

    @media (width < 440px) {
      font-size: 2.4rem;
    }
  }

  h2 {
    font-size: 2.1rem;
    font-weight: 500;
    margin-top: 5px;
    opacity: 0.2;
  }

  p {
    max-width: 70ch;
    margin-top: 20px;
    color: rgb(255 255 255 / 70%);
    line-height: 1.6;
  }
}

.social-tag {
  display: flex;
  align-items: center;
  padding: 4px 9px;
  border: 1px solid rgb(255 255 255 / 30%);
  gap: 4px;
  border-radius: 3px;
  box-shadow: 2px -3px 560px #ff0ccc;
  transition: color 200ms ease-in-out;

  &:hover {
    color: #00bbff;
  }
}

#social {
  margin-top: 20px;
  padding-bottom: 20px;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

#techs {
  width: 100%;
  height: 1dvh;
  opacity: 0.3;
  top: 0;
  left: 0;

  .tech-badge {
    position: absolute;
    border: 3px solid var(--tech-color);
    background-color: var(--tech-color);
    font-weight: 500;
    font-size: 0.9rem;
    padding: 3px;

    svg {
      width: 45px;
    }

    &:nth-child(1) {
      left: -20px;
      top: 400px;
      rotate: 20deg;
    }
    &:nth-child(2) {
      left: 90%;
      top: 240px;
      rotate: -65deg;
    }
    &:nth-child(3) {
      right: 10%;
      top: 50px;
      rotate: -120deg;
    }
    &:nth-child(4) {
      right: 50%;
      top: 20px;
      rotate: -370deg;
    }
    &:nth-child(5) {
      right: 10%;
      top: 400px;
      rotate: -330deg;
    }
    &:nth-child(6) {
      left: 5%;
      top: 50px;
      rotate: 330deg;
    }
    &:nth-child(7) {
      left: 0;
      top: 230px;
      rotate: 330deg;
    }
  }
}

#projects {
  flex: 1;

  h2 {
    text-align: center;
    opacity: 0.2;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    font-size: 1.7rem;
  }
}

#projects-wrapper {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  place-content: center;
}

.card {
  img {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: relative;
    filter: drop-shadow(0 13px 20px rgb(0 0 0 / 50%));
  }

  .card-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 7px;
  }

  .stack {
    display: flex;
    gap: 7px;

    svg {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: var(--tech-color);
    }
  }

  .card-link a {
    display: flex;
    border: 1px solid rgb(255 255 255 / 30%);
    border-radius: 3px;
    padding: 4px 9px;
    gap: 4px;

    svg {
      width: 20px;
    }
  }

  p {
    margin-top: 7px;
    font-size: 0.85rem;
    opacity: 0.8;
    line-height: 1.4;
  }
}

footer {
  background-color: #11111174;
  padding: 3rem;

  h2 {
    font-weight: 400;
    font-size: 1.2rem;
  }

  p {
    line-height: 1.5;
    margin-top: 14px;
    font-size: 0.85rem;
    opacity: 0.6;
    max-width: 100ch;
  }
}
